<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.treestack.dev</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>38679D2C-8655-4934-9B07-DCEC24CBC228</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F570C36D-7847-485F-942B-BFF63B4A007C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>781D19E3-D196-4C5B-B91A-8BC992CA154A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F570C36D-7847-485F-942B-BFF63B4A007C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87660CB0-B892-4648-B413-3DC190985A1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38679D2C-8655-4934-9B07-DCEC24CBC228</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C33FB4D-903B-4A5D-BF5A-70E90DF9A961</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADD8617E-2AF0-4D36-909A-59EAA166029B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A25AA427-15CB-433C-9E72-F494A6B97A61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>781D19E3-D196-4C5B-B91A-8BC992CA154A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADD8617E-2AF0-4D36-909A-59EAA166029B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F570C36D-7847-485F-942B-BFF63B4A007C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB270687-2178-46DC-A23B-CF9396F76AAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A25AA427-15CB-433C-9E72-F494A6B97A61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F570C36D-7847-485F-942B-BFF63B4A007C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F02CC56E-5E4B-4517-91B4-A974E1D91AC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christoph von Krüchten</string>
	<key>description</key>
	<string>Development Helpers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Devtools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uuid</string>
				<key>subtext</key>
				<string>Generate random UUID</string>
				<key>text</key>
				<string>uuid</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB270687-2178-46DC-A23B-CF9396F76AAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>781D19E3-D196-4C5B-B91A-8BC992CA154A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.random</string>
			<key>uid</key>
			<string>A25AA427-15CB-433C-9E72-F494A6B97A61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F570C36D-7847-485F-942B-BFF63B4A007C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>date -u +"%Y-%m-%dT%H:%M:%SZ"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ADD8617E-2AF0-4D36-909A-59EAA166029B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>now</string>
				<key>subtext</key>
				<string>Aktueller Timestamp</string>
				<key>text</key>
				<string>now</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9C33FB4D-903B-4A5D-BF5A-70E90DF9A961</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>In Zwischenablage kopiert</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F02CC56E-5E4B-4517-91B4-A974E1D91AC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>date "+%Y-%m-%d"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>38679D2C-8655-4934-9B07-DCEC24CBC228</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>today</string>
				<key>subtext</key>
				<string>Aktuelles Datum</string>
				<key>text</key>
				<string>today</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87660CB0-B892-4648-B413-3DC190985A1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>38679D2C-8655-4934-9B07-DCEC24CBC228</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>781D19E3-D196-4C5B-B91A-8BC992CA154A</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>87660CB0-B892-4648-B413-3DC190985A1C</key>
		<dict>
			<key>xpos</key>
			<real>140</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>9C33FB4D-903B-4A5D-BF5A-70E90DF9A961</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>A25AA427-15CB-433C-9E72-F494A6B97A61</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>ADD8617E-2AF0-4D36-909A-59EAA166029B</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>BB270687-2178-46DC-A23B-CF9396F76AAF</key>
		<dict>
			<key>xpos</key>
			<real>145</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>F02CC56E-5E4B-4517-91B4-A974E1D91AC3</key>
		<dict>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>F570C36D-7847-485F-942B-BFF63B4A007C</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
